@charset "UTF-8";

body{
	margin: 0px;
	font-family: 'Noto Sans KR', sans-serif;
}

.outside{
	background-color: #0D0D0D;
	
}

.container{
	margin: 0px;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 200px;
	color: #F2F2F2;

	display: flex; /* 컨테이너 안의 div들 좌우정렬 */
	justify-content: flex-start; /* 중앙 정렬 */
}

.comment{
	height: auto;
	padding-left: 200px;
	padding-right: 200px;
	background-color: #0D0D0D;
	color: #F2F2F2;
}

.score{
	height: 100px;
}

/* 제목 부분 */
.title {
	height: 90px;
}

.title > span{
	font-size: 30px;
	font-weight: bold;
}

/* 텍스트 전체 크기 */
.text{
	width: 1000px;
	height: 600px;
	padding-left: 40px;
}

/* 줄거리 */
.content {
	height: 350px;
	font-size: 18px;
}

.content > span{
	font-size: 25px;
	margin-bottom: 5px;
	font-weight: bold;
}

/* 버튼 통일 */
.btn{
	height: 50px; 
	width: 200px;
	border-radius: 5px;
	color: #F2F2F2;
	font-weight: bold;
	font-size: 15px;
	background: #D91E1E;
	border: none;
	cursor: pointer;
}

/* 디테일 제출 버튼 */
#submitBtn{
	height: 82px; 
	width: 200px;
	margin-bottom: 24px;
	border-radius: 5px;
	color: #F2F2F2;
	font-weight: bold;
	font-size: 15px;
	background: #D91E1E;
	border: none;
}

#submitBtn:hover{
	cursor: pointer;
}

.delete-btn
	      {
	        padding: 5px 10px;
	        border: none;
	        background-color: #D91E1E;
	        color: #FFF;
	        font-weight: bold;
	        cursor: pointer;
	        margin-right: 10px;
	      }	

/* comment 컨테이너 */
.commentwrite{
	display: flex; /* 컨테이너 안의 div들 좌우정렬 */
	justify-content: flex-start; /* 중앙 정렬 */
}

.button {
	margin-top: auto; 
}

textarea{
	height: 80px;
	width: 1100px;
	outline: none;
    border: none;
    resize: none;
    
    font-family:'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 18px;
    
}

/* 구글폰트 */
@font-face {
	font-family: 'Noto Sans KR', sans-serif;
	src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
}

/* rating number 이쁘게 */
.rating-input {
    display: inline-flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 5px 10px;
}

.rating-input input[type="number"] {
    appearance: none; /* Remove default arrow buttons */
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #555;
    width: 60px;
    text-align: center;
}

.rating-input input[type="number"]::-webkit-inner-spin-button,
.rating-input input[type="number"]::-webkit-outer-spin-button {
    appearance: none; /* Remove spin buttons for Chrome */
}

.rating-input input[type="number"]::-moz-number-spin-box {
    display: none; /* Remove spin buttons for Firefox */
}

.rating-input input[type="number"]::-webkit-textfield-decoration-container {
    display: none; /* Remove textfield decorations for Chrome */
}
