@charset "UTF-8";

/* 전체 배경색 검정 글자색 하얀색 */
body {
    background-color: #0D0D0D;
    color: #F2F2F2;
}

/* 스크롤바 스타일 수정 */
.slider-container::-webkit-scrollbar {
    width: 3px; 
}

.slider-container::-webkit-scrollbar-thumb {
    background-color: #D91E1E; /* 스크롤바 색상 */
    border-radius: 5px; 
}

.slider-container::-webkit-scrollbar-thumb:hover {
    background-color: darkred; /* 스크롤바 호버시 색상 */
}

/* 슬라이더 컨테이너 */
.slider-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden; /* 상하 스크롤 숨기기 */
    width: 100%;
    scroll-behavior: smooth;
    background-color: #0D0D0D; /* 배경색 검정으로 */ 
    
}

.poster-container {
    width: 300px;
    margin-left: 5px;
    margin-right: 5px;
    flex-shrink: 0;
    text-align: center; /* 텍스트 중앙정렬 */
    font-size: 20px;
    font-weight: bold;
}

.poster-container img {
    width: 300px;
    height: 400px;
}

.poster-title {
	width: 300px;
	line-height: 1.2; /* Add line-height property */
	margin-top: 10px;
}

.input{
	width: 300px; 
	height: 50px;
	margin-top: 10px;
	
	background-color: #0D0D0D;
	color: #F2F2F2;
	
	font-weight: bold;
	border-radius: 5px; 
	outline: none;
}

/* 검색창 */
#searchBtn{
	width: 60px;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #D91E1E;
	color: #F2F2F2;
	border-radius: 5px; 
}
